body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #141517;
}

form {
    background-color: #141517;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 40px rgba(193, 61, 136, 0.3);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #C13D88;
}

.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-container img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.header-container h1 {
    font-size: 24px;
    color: #fff;
    margin: 5px 0;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    margin: 20px auto;
    border: none;
    border-radius: 4px;
    background-color: #C13D88;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D85A9D;
}

a {
    color: #3B49DF;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.signup p {
    margin: 0;
}

.signup a {
    color: #3B49DF;
    font-weight: bold;
}

.name-container, .age-gender-container {
    display: flex;
    gap: 10px;
}
